@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: auto;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, sans-serif;
}

body {

  background-image: url(images/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  background-color: #000;
  color: #fff;

}

.main-countainer {
  padding-top: 1px;
  margin: 0 auto;
  padding-bottom: 30px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 46px;
}

.sable {
  top: 70px;
  left: 46px;
  padding-bottom: 30px;
  width: 120px;
  margin-right: 70px;
}

.CREDIT {
  padding-left: 250px;
}

nav ul {
  display: flex;
  list-style: none;
  margin-right: 20px;
  padding-bottom: 70px;
}

nav ul li {
  margin: 0px;
  padding-right: 70px;
  padding-top: 115px;
}
nav div ul {
  max-height: 40px;
  padding-right: 50px;
}
.box .main-text {
  font-family: "Inter",sans-serif;
  font-size: 36px;
}

.hero-text {
  text-align: center;
  font-weight: 400;
  font-size: 45px;
  color: #FFFFFF;
}

p {
  font-family: "Inter";
}
p span{
  font-weight: bold;
}
.explore-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  
}

.explore-btn {
  padding: 16px 48px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #ffffff;
  background-color: #6FDBD4;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;

}

.explore-btn:hover {
  background-color: #ccc;
  transform: translateY(-3px);
}


nav ul li a {

  font-size: 16px;
  text-decoration: none;
  color: #FFFFFF;

}

.bottom {
  margin-top: 120px;
  margin-left: 30px;
}

.box {
  margin-left: 50px;
  height: 1000.58px;
  background-color: #1C1C1E;

}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 280px);
  grid-template-rows: repeat(5, 120px);
  gap: 20px;
  padding-bottom: 30px;
  color: white;
  font-family: "Inter", sans-serif;
  
}

section image {
  margin-right: 50px;
}


.grid-item4 {
  grid-column: 4;
  grid-row: 5;
}

.grid-item3 {
  grid-column: 1;
  grid-row: 5;
  padding-left: 40px;
}

.grid-item2 {
  grid-column: 4;
  grid-row: 3;
}

.grid-item1 {
  grid-column: 1;
  grid-row: 3;
  padding-left: 40px;
 
}

.line {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin: 90px 0;
}

.companies {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  padding: 40px 70px;
}

.container {
  display: flex;
  background-color: white;
  align-items: center;
  min-height: 100vh; 
  gap: 100px;
}
.card-image{
  margin: 50px;
}

.image-text {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 30px;
  font-family: "inter", sans-serif;
  font-size: 30.62px;
}

.main-countainer,
.box,
.box2 {
  width: 100%;
  /*max-width: 1440px;*/
  margin: 0 auto;
}


.page3 {

  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.blackPart {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  background-color: #1C1C1E;
}

.whitePart {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  padding-left: 90px;
  padding-right: 50px;
  background-color: #EBEBF1;
}

.text1,
.text2,
.text3 {
  font-family: "Inter", sans-serif;
  color: white;
  padding: 0px;
  margin-left: 50px;
  margin-right: 50px;
}
.text1{
  margin-top: 70px;
}

.whiteCol {
  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 10px;

}

.whiteCol div {
  display: flex;
  align-items: center;
  
}

.whiteCol img {
  display: block;
  max-width: 100%;
  height: auto;
}

.box4 .page4 .title {
  font-family: "Inter", sans-serif;

}

.compare {
  max-width: 1100px;
  margin: auto;
  padding: 80px 20px;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 60px;
}

h1 span {
  opacity: 0.5;
}

.table {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: left;

  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  min-height: 64px;
}

.header {
  border-bottom: none;
  margin-bottom: 20px;
}

.cell {
  padding: 20px;
  text-align: left;
}

.feature {
  text-align: left;
  color: #bfbfbf;
  font-size: 14px;
}

.product img {
  margin-bottom: 12px;
  width: 250px;
  height: 140px;
}

.name {
  font-size: 15px;
  line-height: 1.4;
}

.name span {
  color: #8c8c8c;
  font-size: 13px;
}

.check {
  text-align: start;
  color: #00e5d6;
  font-size: 18px;
}

.lock {
  color: #555;
  text-align: start;
}

.price .cell {
  font-size: 28px;
}

.price .feature {
  font-size: 14px;
}

button {
  padding: 12px 28px;
  border-radius: 30px;
  border: 1px solid #00e5d6;
  background: transparent;
  color: #00e5d6;
  cursor: pointer;
}

button.primary {
  text-align: start;
  background: #00e5d6;
  color: #000;
}

button:hover {
  opacity: 0.85;
}

.rating {
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 48px;
}

.cards {
  display: flex;
  gap: 24px;
  padding-left: 120px;
  padding-right: 120px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.cards::-webkit-scrollbar {
  display: none;
}

.cards {
  scrollbar-width: none;
}

.card {
  flex: 0 0 360px;
  background: linear-gradient(180deg, #161616, #0f0f0f);
  border-radius: 20px;
  padding: 28px 26px 30px;
  scroll-snap-align: start;
}

.quote-icon {
  color: #2dd4bf;
  font-size: 36px;
  margin-bottom: 16px;
}

.card p {
  font-size: 15px;
  line-height: 1.7;
  color: #e5e7eb;
  margin-bottom: 28px;
}

.author {
  font-size: 14px;
  color: #9ca3af;
}

.hero {
  height: 420px;
  margin-top: 50px;
  background: url("images/hero.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.buttons img {
  height: 40px;
  margin-right: 10px;
}

.hero {
  margin-top: 50px;
  width: 100%;
  height: 420px;
  background-image: url("images/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;    
}

.hero-content {
  margin-left: 80px;
  max-width: 450px;
  color: #ffffff;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero-content h1 {
  font-size: 42px;
  line-height: 1.2;
  font-weight: 700;
}

.hero-content h1 span {
  font-weight: 800;
}

.hero-content p {
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.9;
}

.hero-buttons {
  display: flex;
  gap: 14px;
}

.hero-buttons img {
  height: 48px;
  cursor: pointer;
}

.footer {
  color: white;
  padding: 60px 80px;
  background: black;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.col h4 {
  margin: 0 0 8px;
  font-weight: normal;
}

.col p {
  font-family: "inter";
  margin: 4px 0;
  font-size: 13px;
  color: #ccc;
}

.small {
  font-size: 12px;
}

.mt {
  margin-top: 20px;
}

.soon {
  color: #2dd4bf;
  font-size: 12px;
}

.logo {
  font-size: 48px;
  font-weight: bold;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 40px 0;
}

.socials span {
  border: 1px solid #555;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-bottom {
  text-align: right;
  font-size: 12px;
  color: #aaa;
  margin-bottom: 20px;
}

.legal {
  border-top: 1px solid #222;
  padding-top: 20px;
  font-size: 11px;
  color: #777;
  line-height: 1.5;
}